<div class= "log_in">
  <div class= "log_in_title">
    <h2>Log in</h2>
  </div>
  <div class= "log_in_menu">
    <div class= "email">
       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
           <%= f.label :email %><br />
           <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form' %>
        </div>
    </div>
    <div class= "password">
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form' %>
      </div>
    </div>
    <div class= "remember">
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit "Log in", class: "log_in_btn" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
</div>
